* {
    font-family: 'Montserrat', sans-serif;

}

body {
  background-size:85%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000;
}

#anim {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    max-width: 800px;
}

.subtitle {
    color: #FFFFFF;
    position: fixed;
    text-align: center;
    bottom: 20px;
    left: 50%;
    margin-left: -197px;
}

  /* Responsivity */

  @media screen and (min-width: 320px) and (max-width: 680px) {
    #anim {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -35%;
      margin-left: -50%;
      max-width: 100%;
          }
    .subtitle {
      position: fixed;
      text-align: center;
      bottom: 60px;
      left: 50%;
      margin-left: -196.5px;
        }
  }  

  /* @media screen and (max-width: 320px) {
    #anim {
      position: fixed;
      top: 50%;
      left: 50%;
      max-width: 320px;
      margin-top: -140px;
      margin-left: -160px;
          }
    .subtitle {
      font-size: 70%;
      color: #473A17;
      position: fixed;
      text-align: center;
      bottom: 60px;
      left: 50%;
      width: 300px;
      margin-left: -150px;
        }
  }   */